* {
    font-family: sans-serif, Arial, Helvetica;
    margin: 0;
}

body {
    background-color: #2E3239;
    color: #fff;
}

.inicio {
    /*background: red;*/
    padding: 40px 80px 0 80px !important;
    color: #26292B;
}

/*
.inicio-sub {
    width: 80%;
    background: yellow;
    margin: 0 auto;
}
*/

.inicio-sub {
    margin-bottom: 20px;
    background-color: #A2B2EE;
    border: 8px solid #5F7ADB;
    border-radius: 30px;
    padding: 5px;
}
.inicio-sub-h1 {
    margin-bottom: 10px;
    color: #26292B;
    font-size: 40px;
}

.listas{
    width: 100%;
    color: #fff;
    background-color: #A2B2EE;
    border-radius: 30px;
    border: 8px solid #5F7ADB;
    color: #26292B;
}

.listas-imagenes {
    width: 100%;
}

.listas-imagenes-img1 {
    display: inline-block;
    margin-right: 100px;
}

.listas-imagenes-img1 img {
    display: inline-block;
}

.listas-imagenes-img2 {
    display: inline-block;
}

.listas-imagenes-img2 img {
    width: 600px;
    height: 337px;
}

.listas-li-2 {
    margin-top: 30px;
}

.listas-li-3 {
    margin-top: 30px;
}

.listas-li-4 {
    margin-top: 30px;
}

.listas-li-5 {
    margin-top: 30px;
}

.listas-li-6 {
    margin-top: 30px;
}